# Default configuration file for bclconvert

---

# TODO Ensure all these mappings are correctly setup.
bclconvert:
  versions:
    4.0.3:
      binary: bcl-convert
      class_creation_function:  _get_bclconvert_runner

machine_type:
  HiSeq X:
    bclconvert_version: 4.0.3
  HiSeq 2500:
    bclconvert_version: 4.0.3
  HiSeq 2000:
    bclconvert_version: 4.0.3
  NextSeq 550 D:
    bclconvert_version: 4.0.3
  NextSeq 550 DX:
    bclconvert_version: 4.0.3
  NextSeq 500:
    bclconvert_version: 4.0.3
  HiSeq 4000:
    bclconvert_version: 4.0.3
  MiSeq:
    bclconvert_version: 4.0.3
  NovaSeq 6000:
    bclconvert_version: 4.0.3
  NovaSeq X Plus:
    bclconvert_version: 4.0.3
  ISeq 100:
    bclconvert_version: 4.0.3


runfolder_path:
    - /runfolders
default_output_path: /fastq

bclconvert_logs_path: /bclconvert_logs

bcl_sampleproject_subdirectories: null

fastq_gzip_compression_level: 1

no_lane_splitting: False

num_unknown_barcodes_reported: 1000

output_legacy_stats: False

sample_name_column_enabled: null

strict_mode: False

# Thread settings
bcl_num_parallel_tiles: 1

bcl_num_conversion_threads: 1

bcl_num_compression_threads: 1

bcl_num_decompression_threads: 1

# Only folders and child folder of the directories listed here will be valid as output
# directories.
allowed_output_folders:
    -  /fastq/
